.venv
__pycache__/
*.parquet
*.csv
.waste
waste
app/test/output/

app/output/queries/*.json
app/output\ copy


app/debug/*.json
app/debug/*.txt
app/executions/*
executions

files_output/queries/*
files_output/queries_csv/*
files_output\ copy
a